<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: rgb(238, 231, 231);">
    <% if (locals.error) { %>
    <div style=" 
    color: red;
    padding: 10px;
    font-size: 20px;
    text-align: center;">Incorrect Password!</div>
    <% } %>
    <form
      method="post"
      style="
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 0 auto;
      "
    >
    <div style="display: flex; padding-top: 40px;padding-left: 50px;
    align-items: center;">
    <label for="password" style="color: #000;">Enter Password:</label>
    <input type="password" id="password" name="password" style="
    background:#fff;
    border:1px solid #000;
    position:relative;
    color:#000;
    width: 280px;
    border-radius:9px;
    height: 40px;
    text-align:center;
    float:left;
    margin-left: 10px;
    cursor:pointer;" />
    </input>
    </div>
    <button style="
    height: 40px;
    position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 400px;" type="submit">Download</button>
    </form>
  </body>
</html>
